@import "./variables";

.all-panels {
  display: flex;
  flex-direction: column;
  width: 20vw;
  
  button {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(243, 243, 243);
    color: black;
    font-size: medium;
    font-weight: normal;
  }
}

.call-emerg {
  line-height:0%;
  display: block;
  font-family: 'Poppins', sans-serif;
  background-color: $background-red;
  width: 20vw;
  height: 10vh;
  font-size: 1rem;
  padding: .4rem;
}